body{
    background-color:black;
}

/* header */

.header{
    background-color:black;
    height: 56px;
}


.logo{
    background-image: url(/images/onlylogo.png);
    width: 20px;
    height: 17px;
    background-size: cover;
    margin-left: 20px;
    margin-right: 2px;
    margin-bottom: 3px;
}
.logo1{
    display: flex;
    align-items: center;
    color: white;
    height: 56px;
    

}
.logo1 i{
    margin-left: 15px;
}

.Ytname{

    width: 0%;
    letter-spacing: -2px;
}
@media (max-width: 376px) {
    .Ytname,.searchbar,.mic.custom-mic,.signin1,.idot{
        display: none;
      
    }
    .searchbutton.custom-search-button{
        background: none;
        
    }

  }

.nav_search{
    display: flex;
    align-items: center;
    height: 56px;
}
.searchbar{
    border: 1px solid #383838;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-right: none;
    padding: 0px 4px 0px 16px;
    background-color: #0f0f0f;
    color: white;
    height: 40px;
    width: 100%;
}
.searchbutton {
    border-radius: 0 40px 40px 0;
    cursor: pointer;
    height: 40px;
    width: 66px;
    border: none;
    background-color: #383838;
    color: white;
}

.mic {
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #383838;
    border-radius: 50%;
    margin-left: 10px;
    
}

.mic i{
    margin-bottom: 3px;
}
.nav_signin{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 56px;
    
}
.nav_signin1{
    display: flex;
    align-items: center;
    color: white;
    color: rgb(0, 0, 255);
    border-radius: 40px;
    margin-left: 10px;
    background-color: transparent;
    border: none;
    width: 97px;
    height: 35px;
    border: 1px solid #393a3a;
    
}
.nav_signin i{
    margin-left: 15px;
}
.signin1{
    margin-left: 10px;
}

/* header */

.category{
    background-color: #000000;
    height: 40px;
}

/* sidemenu */
.sidemenu{
    padding-top: 10px;
    background-color: rgb(0, 0, 0);
    height: auto;
}

a {
    color: white;
    text-decoration: none;
}

.side-menu1{
    color: white; 
    color: white;
    width: 12rem;

}
ul {
    list-style-type: none;
}
.menu-list1{
    color: white;
}

.nav_signin2{
    display: flex;
    align-items: center;
    color: white;
    color: rgb(0, 0, 255);
    border-radius: 40px;
    margin-left: 10px;
    background-color: transparent;
    border: none;
    width: 97px;
    height: 35px;
    border: 1px solid #393a3a;
    
}
.nav_signin2 i{
    margin-left: 15px;
}
.signin2{
    margin-left: 10px;
}

@media (max-width:800px){
    .sidemenu{
        display: none;
    }
}

/* sidemenu */


/* vedioarea */


.vedio_cards{
    background-color: black;
}


.video-card {
    padding: 10px;
    margin: 10px;
    box-shadow: 0 2px 4px rgb(232 209 209 / 10%);
    border-radius: 10px;

}



.video-thumbnail img {
    width: 100%;
    height: auto;
}

.video-title {
    font-size: 1.2rem;
    color: white;
    margin: 0;
    max-height: 60px;
    overflow: hidden;
    
}

.channel-name {
    color: #ccc;

}

.video-meta {
    margin-top: 10px;
}

.video-meta span {
    margin-right: 10px;
    color: #888;
}
.channel-logo{
    width: 30px;
    height: 30px;
    
    background-image: url('./images/channel-logo2.jpg'); 
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.channel-info{
    display: flex;
    align-items: center;
    height: 50px;
}
.channel-name {
    padding-top: 15px;
    color: #ccc;
    padding-left: 10px;
}

/* vedioarea */